body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  color: #fff;
  background-color: #000;
  margin: 100px 0 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50px;
}